body{font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif; font-size: 18px}

.bg-primary{background-color: #4B2A6D!important;}

.mCSB_inside > .mCSB_container{margin-right: 0!important;}

.slick-prev, .slick-next, .slick-dots{display: none!important;}


header, main, footer{position: relative; padding-right: 399px!important; z-index: 2}



/* 초기 로딩 시에만 Offcanvas 애니메이션 제거 */
.offcanvas.no-transition{transition: none!important;}

/* 슬라이드 깜빡임 방지 */
.cover-slide .slick-slide {opacity: 1!important;transition: none!important;}

.footer-ground{}
.footer-ground dl{width: 20%;}
.footer-ground dl dt{border-left: 5px solid #ccc; padding-left: 15px}
.footer-ground dl dd{border-left: 5px solid #ccc; padding-left: 15px}
.footer-station{}
.footer-station dl{width: 20%;}
.footer-station dl dt{border-left: 5px solid #ccc; padding-left: 15px}
.footer-station dl dd{border-left: 5px solid #ccc; padding-left: 15px}

@media screen and (max-width: 1200px) {
    header, main, footer{padding-right: 0!important;}
    .footer-ground dl{width: 100%;}
    .footer-station dl{width: 100%;}
}