.intro {
    height: 100dvh;
    background-color: #000;
    overflow: hidden;
}
.intro__grid {
    position: relative;
    height: 100%;
    width: 100%;
}
.intro__grid--item {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
}
.intro__grid--item::before {
    content: "";
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    inset: 0;
    transition: transform 0.5s ease;
    z-index: 1;
}
.intro__grid--item::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.5s ease;
    z-index: 2;
}
.intro__grid--item .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
}
.intro__grid--item .content .logo {
    margin-bottom: 40px;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}
.intro__grid--item .content .logo img {
    margin: 0 auto;
    border: none !important;
}
.intro__grid--item .content .logo img::before, .intro__grid--item .content .logo img::after {
    border: none !important;
}
.intro__grid--item .content .logo--ground {
    width: 390px;
    aspect-ratio: 390/164;
    background-image: url(https://hikr.visitkorea.or.kr/assets/images/intro_hikr_ground.png);
}
.intro__grid--item .content .logo--station {
    width: 338px;
    aspect-ratio: 338/184;
    background-image: url(https://hikr.visitkorea.or.kr/assets/images/intro_hikr_station.png);
}
.intro__grid--item .content .address {
    margin-bottom: 210px;
}
.intro__grid--item .content .address img {
    margin: 0 auto;
}
.intro__grid--item .content .enter__button {
    display: inline-flex;
    font-size: 22px;
    font-weight: 700;
    color: #000;
    width: 183px;
    height: 57px;
    border: 0;
    border-radius: 15px;
    background-color: #00d919;
    outline: none;
    align-items: center;
    justify-content: center;
}
.intro__grid--item:hover::before {
    transform: scale(1.1);
}
.intro__grid--item:hover::after {
    opacity: 0;
}
.intro__grid .item--left {
    left: 0;
    width: 60%;
}
.intro__grid .item--left::before {
    background-image: url(https://hikr.visitkorea.or.kr/assets/images/intro_bg1.webp);
}
.intro__grid .item--right {
    right: 0;
    width: 60%;
    -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
}
.intro__grid .item--right::before {
    background-image: url(https://hikr.visitkorea.or.kr/assets/images/intro_bg2.webp);
    /*https://hikr.visitkorea.or.kr/assets/images/intro_bg2.webp*/
}

@media (max-width: 1000px) {
    .intro__grid--item {
        position: relative;
        width: 100% !important;
        height: 50%;
        -webkit-clip-path: none !important;
        clip-path: none !important;
    }
    .intro__grid--item .content .logo {
        margin-bottom: 30px;
        width: 202px;
    }
    .intro__grid--item .content .logo img {
        width: 202px;
    }
    .intro__grid--item .content .address {
        margin-bottom: 56px;
    }
    .intro__grid--item .content .address img {
        height: 24px;
    }
    .intro__grid--item .content .enter__button {
        font-size: 18px;
        width: 155px;
        height: 49px;
    }
}